*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.fundo {
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.fundo p:hover {
    transition: 0.3s ease; 
    cursor: pointer;
    color: rgb(197, 197, 197);
    transition: 0.3s;
    height: 20px;

}

button {
    transition: 0.5s ease;
    color: white;
    background-color: #3f422fea;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.568);
}

button:hover {
    cursor: pointer;
    background-color: #3f422fbb;
    transition: 0.4s;
    color: rgb(233, 233, 233);
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.87);
}

.logo {
    height: 80px;
}

.fundo-meio-listra {
    background-color: #3f422fea;
    height: 60vh;
    display: flex;
    align-items: center;
}

.casaco-feminino {
   transition: 0.5s ease; 
   margin: 0;
   height: 290px;
   top: 45%;
   left: 68%;
   position: absolute;
   border-radius: 20px;
   z-index: 1;
   box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.568);
}

.casaco-feminino:hover {
    transition: 0.3s;
    box-shadow: 0px 10px 10px 0px rgba(82, 82, 82, 0.568);
    padding: 3px;
    cursor: pointer;
}

.tenis {
    transition: 0.5s ease; 
    margin: 0;
    height: 200px;
    top: 14%;
    left: 73%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.568);
    cursor: pointer;
}

.tenis:hover {
    transition: 0.3s;
    box-shadow: 0px 10px 10px 0px rgba(82, 82, 82, 0.568);
    padding: 3px;
    z-index: 2;
}

.casaco-masculino {
    transition: 0.5s ease; 
    margin: 0;
    height: 400px;
    top: 22%;
    left: 43%;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.568);
    cursor: pointer;
}

.casaco-masculino:hover {
    transition: 0.3s;
    box-shadow: 0px 10px 10px 0px rgba(82, 82, 82, 0.568);
    padding: 3px;
    z-index: 1;
}

.text-center {
    width: 400px;
    color: white;
    margin-left: 40px;
    padding: 30px;
}


.h1 {
    transition: 0.5s ease; 
    color: rgba(210, 224, 199, 0.884);
    line-height: 50px;
    font-size: 50px;
}

.h1:hover {
    transition: 0.5s;
    cursor: pointer;
    color:rgba(131, 151, 115, 0.877) ;
}

.p {
    margin-top: 30px;
    color: rgb(196, 196, 196);
    font-size: 17px;
}

.conteudo {
    display: flex;
    border-radius: 0px 50px 50px 0px;
    width: 1000px;
    margin-top: 140px;
    padding: 10px;
    background-color: #cdcfdf36;
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.274);
    transition: 0.3s ease;
}

.conteudo:hover {
    transition: 0.5s;
    background-color: #444b442d;
}

.paris-camisa {
    display: flex;
    width: 300px;
    margin-left: 60px;
    border-radius: 30px;
    box-shadow: 0px 1px 15px 0px rgba(102, 102, 102, 0.568);
}

.text-conteudo {
    position: absolute;
    top: 110%;
    left: 35%;
    
}

.descricao-text-conteudo {
    position: absolute;
    top: 120%;
    left: 35%;
    width: 400px;
    line-height: 22px;
    font-size: 17px;
}

.lancamento {
    position: absolute;
    left: 43%;
    color: #545e21de;
}

.conteudo-secundario {
    margin-top: 100px;
    position: relative;
}

.fundo-folha {
    width: 100%;
}

.gradient{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0,.8)
    0, rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, .8) 100%);
    position: absolute;
    top: 00%;
    left: 0;
    right: 0;
    bottom: 0;
}

.titulo-conteudo-secundario {
    position: absolute;
    color: white;
    left: 40%;
    margin-top: 5%;
}

.camisa-brasileira {
    position: absolute;
    left: 50px;
    width: 17%;
    margin-top: 15%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgba(207, 207, 207, 0.795);
    transition: 0.5s;

}

.camisa-brasileira:hover {
    transition: 0.5s ease;
    box-shadow: 0px 1px 100px 20px rgba(102, 102, 102, 0.37);
    width: 20%;
   
}

.camisabrasilcristo{
    width: 20%;
    font-size: 30px;
    color: #08914a ;
    z-index: 2;
    position: absolute;
    left: 365px;
    bottom: 600px;
    z-index: 33;
}

.descricaocamisacristo {
    width: 30%;
    color: #ffea95;
    position: absolute;
    left: 365px;
    bottom: 450px;
    line-height: 25px;
}

.camisabrasilpreta {
    border-radius: 10px;
    width: 17%;
    position: absolute;
    left: 1000px;
    top: 60%;
    box-shadow: 0px 1px 15px 0px rgba(207, 207, 207, 0.205);
    transition: 0.5s;
}

.camisabrasilpreta:hover {
    width: 20%;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 1px 100px 20px rgba(102, 102, 102, 0.37);
}

.camisapretatext {
    width: 20%;
    font-size: 30px;
    color: #08914a ;
    z-index: 2;
    position: absolute;
    left: 655px;
    bottom: 225px;
    z-index: 33;
    text-align: end;
}

.descricaocamisapretacbf {
    line-height: 25px;
    color: #ffea95;
    width: 500px;
    position: absolute;
    left: 435px;
    bottom: 100px;
}
